<%= form_tag('/search', method: 'get', html: {class: "form", role: "form"}) do |f| %>
  <ul class="nav navbar-text pull-right">
    <li><%= label_tag(:search_terms, "Search twitter for:") %>
    <%= text_field_tag(:search_terms) %>
    <%= submit_tag("Search", :class=>"btn btn-large btn-default") %></li>
  </ul>
<% end %>
