<h2>Showing tweets from query "<%= @search_terms %>"</h2>
<table>
  <th>User</th>
  <th>Tweet</th>
  <% @tweets.each do |tweet| %>
  <tr>
    <td><%= link_to tweet.user.screen_name, timeline_path(twitter_user: tweet.user.screen_name) %> </td>
    <td><%= tweet.text %> </td>
  </tr>
  <% end %>
</table>
